/*style.css is the main stylesheet for my website.*/

/*styling for my table in fun.html*/
/*Set the font, border, and width of the entire table.*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

/*Table data and table row have specific colors, left-align, and padding around the edges.*/
td, th {
    border: 1px solid #fefff0;
    text-align: left;
    padding: 8px;
}

/*The even rows in the table are light yellow.*/
tr:nth-child(even) {
    background-color: #fefff0;
}

/*The odd rows in the table are white. The difference in color is to make the table content more contrasting and easier to read.*/
tr:nth-child(odd) {
    background-color: #ffffff;
}

/*The container class is what I use to format my flexboxes.*/
.container
{
display: flex;
flex-wrap: wrap;
}

/*For the images inside the flexboxes, I have set parameters (padding and margins) around so that the flexboxes serve as aesthetic borders.*/
/*All the flexboxes have the same dimensions.*/
.container > div
{
background-color: #92a4af;
font-size: 10px;
margin: 5px;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 25px;
width: 300px;
height: 50;
}

/*Boostrap columns have padding, default text color, a font, and full height.*/
.row > div {
    padding: 20px;
    color: black;
    font-family: Courier;
    height:100%;
}

/*The background of my entire website is light blue.*/
body {
    background-color: #e5fafa;
}

/*Here are changes to the styling with media queries. */
/*When the size of the viewport is reduced to less than 1001px, the font sizes of my text will shrink.*/
@media only screen and (max-width: 1000px) {
    body {
        font-size: 8px;
    }
    h1 {
        font-size: 15px;
    }
    h3 {
        font-size: 12px
    }
    h4 {
        font-size: 10px;
    }
    col-1 {
        display: none;
    }
    li {
        font-size: 9px;
    }
    a {
        font-size: 7px;
    }
}

/*I use the id centred to distinguish my headers and titles from my content.*/
#centred {
    text-align: center;
    color: #062F4F;
    font-weight: bold;
}

/*When you select the words in my website, the words' text color become red and the highlight color becomes light pink.*/
::selection {
    color: red;
    background-color: #ffe1fd;
}

/*The background color of the titles to each of the html pages are light pink.*/
h1, li::selection {
    background: #ffe1fd;
}

/*The id fact is used in aboutme.html. The text color of the div that uses this id changes to blue.*/
#fact
{
color: #18599a;
}

/*The id course is used in aboutme.html. The text color of the div that uses this id changes to green.*/
#course
{
color: #187613;
}

/*The id interesting is used in aboutme.html. The text color of the div that uses this id changes to red.*/
#interesting
{
color: #a32319;
}

/*This class bolds certain words. I use it with <span> in aboutme.html to emphasize certain important words.*/
.name
{
font-weight: bold;
}

/*For the lists inside ordered lists, the ordered list text will be red. This is a child example.*/
ol > li
{
color: red;
}
