{% extends "layout.html" %}
{% block title %}
    Search for a Location
{% endblock %}
{% block body %}

  <form action="{{ url_for('search') }}" method="post">
    <div class="form-group">
      <input class="form-control" placeholder="search" name="search">
    </div>
    <div class="form-group">
      <button class="btn btn-default">Search</button>
    </div>
  </form>
  <table class="table table-striped">
    <thead>
      <th scope="col">Zipcode</th>
      <th scope="col">City</th>
      <th scope="col">More Info...</th>
    </thead>
    <tbody>
    {% for codes in locations %}
      <tr>
        <td>{{ codes.zipcode }}</td>
        <td>{{ codes.city }}</td>
        <td><a href="{{ url_for('location', zipcode=codes.zipcode) }}" class="btn btn-info" role="button">More...</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}


